.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}

.light-blue-text {
color: #8C0000;
}

.dark-text {
color: #0B0C10;
font-family: "Oxygen", sans-serif;
font-weight: bold;
}


body{
  background: #CECECE;
}

.navbar{
  background-image: linear-gradient(90deg, #FFFFFF 80%, #0B0B0B 20%);
}

.navbar-brand{
  padding-left: 150px;
  padding-right: 100px;
  color: #8C0000;
}

.navbar-text{
color: #0B0C10;
}

.nav-link{
color: #0B0C10 !important;
font-family: "Oxygen", sans-serif;
}

i {
  border: solid #8C0000;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 8px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
