#teamView {
  display: flex;
}

#team1 {
  flex: 0 0 40%;
}

#team2 {
  flex: 1;
}

#matchup {
  display: block;
  text-align: center;
  border: 1px solid black;
  width: 90px;
  height: 70px;
}

#rd1 {
  padding-left: 20px;
  float:left;
}

#rd2 {
  padding-top: 60px;
  padding-left: 20px;
  float: left;
}

#rd3 {
  padding-top: 160px;
  padding-left: 20px;
  float: left;
}

#rd4 {
  padding-top: 350px;
  float: left;
}

#finalFour {
  padding-top: 800px;
  padding-left: 20px;
  float: left;
}

#champion {
  padding-top: 725px;
  padding-left: 20px;
  float: left;
}

#cMatchup {
  display: block;
  text-align: center;
  border: 1px solid black;
  width: 150px;
  height: 150px;
}

#popUp {
  display: none;
  border: 1px solid white;
  width: 500px;
  height: 500px;
  background-color: #efefef;
}

h5{
	padding-top: 75px;
	color: #8C0000;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	font-size: 65px;

}

.text-center{
	text-align: center;
}
hr{
  color: white;
}

p{
	font-family: "Oxygen", sans-serif;
	font-weight: bold;

}

h6{
	color: white;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 20px;

}

#team1 {
  padding: 5px;
  border-radius: 25px;
  background-color: #C47676;
}

#team2 {
  padding: 5px;
  border-radius: 25px;
  background-color: #C47676;
}

.teamInfo {
  background-color: #ABABAB;
  border-radius: 25px;
  margin: 10px;
  color: white;
}
input.message {
	text-align: center;
}

button{
	text-align: center;
}
