#teamView {
  display: flex;
}

#team1 {
  flex: 0 0 40%;
}

#team2 {
  flex: 1;
}

#matchup {
  text-align: center;
  width: 100px;
  height: 70px;
}

#team {
  display: block;
  background-color: white;
  width: 100px;
  height: 30px;
  text-align: center;
  margin: auto;
  border-bottom: 3px solid #eee;
}

#rd1 {
  padding-left: 10px;
  float:left;
}

#rd2 {
  padding-top: 50px;
  padding-left: 10px;
  float: left;
}

#rd3 {
  padding-top: 145px;
  padding-left: 10px;
  float: left;
}

#rd4 {
  padding-top: 340px;
  padding-left: 10px;
  float: left;
}

#finalFour {
  padding-top: 700px;
  padding-left: 10px;
  float: left;
}

#champion {
  padding-top: 600px;
  padding-left: 10px;
  float: left;
}

#cMatchup {
  margin: auto;
  text-align: center;
}

#popUp {
  display: none;
  border: 1px solid white;
  width: 500px;
  height: 500px;
  background-color: #efefef;
}

h5{
  padding-top: 75px;
  color: #8C0000;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 65px;

}

.text-center{
  text-align: center;
}

p{
  font-family: "Oxygen", sans-serif;
  font-weight: bold;

}

h6{
  color: white;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;

}

#team1 {
  padding: 5px;
  border-radius: 25px;
  background-color: #C47676;
}

#team2 {
  padding: 5px;
  border-radius: 25px;
  background-color: #C47676;
}

.teamInfo {
  background-color: #ABABAB;
  border-radius: 25px;
  margin: 10px;
  color: white;
}
input.message {
  text-align: center;
}

button{
  text-align: center;
}
