{% extends "layout.html" %}
{% block content %}

  <h2 class="text-center">GENERATE BRACKET</h2>

  <div id="rd1">
    <!-- EAST -->
    <div id="matchup">
      <div id ="team">Duke</div>
      <div id="team">NDSU</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">VCU</div>
      <div id="team">UCF</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Mississippi St</div>
      <div id="team">Liberty</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Virginia Tech</div>
      <div id="team">Saint Louis</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Maryland</div>
      <div id="team">Belmont</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">LSU</div>
      <div id="team">Yale</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Louisville</div>
      <div id="team">Minnesota</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Michigan St</div>
      <div id="team">Bradley</div>
    </div>
    <!-- WEST -->
    <br>
    <div id="matchup">
      <div id ="team">Gonzaga</div>
      <div id="team"> Fairleigh</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Syracuse</div>
      <div id="team">Baylor</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Marquette</div>
      <div id="team">Murray St</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Florida St</div>
      <div id="team">Vermont</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Buffalo</div>
      <div id="team">Arizona St</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Texas Tech</div>
      <div id="team">N. Kentucky</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Nevada</div>
      <div id="team">Florida</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Michigan</div>
      <div id="team">Montana</div>
    </div>
  </div>

  <div id=rd2>
    <div id="matchup">
      <div id ="team">{{teams[0]}}</div>
      <div id="team">{{teams[1]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[2]}}</div>
      <div id="team">{{teams[3]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[4]}}</div>
      <div id="team">{{teams[5]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[6]}}</div>
      <div id="team">{{teams[7]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[8]}}</div>
      <div id="team">{{teams[9]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[10]}}</div>
      <div id="team">{{teams[11]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[12]}}</div>
      <div id="team">{{teams[13]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[14]}}</div>
      <div id="team">{{teams[15]}}</div>
    </div>
  </div>

  <div id=rd3>
    <div id="matchup">
      <div id ="team">{{teams[32]}}</div>
      <div id="team">{{teams[33]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[34]}}</div>
      <div id="team">{{teams[35]}}</div>
    </div>

    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[36]}}</div>
      <div id="team">{{teams[37]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[38]}}</div>
      <div id="team">{{teams[39]}}</div>
    </div>
  </div>

  <div id=rd4>
    <div id="matchup">
      <div id ="team">{{teams[48]}}</div>
      <div id="team">{{teams[49]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[50]}}</div>
      <div id="team">{{teams[51]}}</div>
    </div>
  </div>

  <div id=finalFour>
    <div id="matchup">
      <div id ="team">{{teams[56]}}</div>
      <div id="team">{{teams[57]}}</div>
    </div>
  </div>

  <div id=champion>
    <h3> FINAL FOUR</h3>
    <div id=cMatchup>
      <div id ="team">{{teams[60]}}</div>
      <div id="team">{{teams[61]}}</div>
    </div>
    <br>
    <h3 class="text-center"> CHAMPION </h3>
      <div id="team">{{teams[62]}} </div>
  </div>

  <div id=finalFour>
    <div id="matchup">
      <div id ="team">{{teams[58]}}</div>
      <div id="team">{{teams[59]}}</div>
    </div>
  </div>

  <div id=rd4>
    <div id="matchup">
      <div id ="team">{{teams[52]}}</div>
      <div id="team">{{teams[53]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>

    <div id="matchup">
      <div id ="team">{{teams[54]}}</div>
      <div id="team">{{teams[55]}}</div>
    </div>
  </div>

  <div id=rd3>
    <div id="matchup">
      <div id ="team">{{teams[40]}}</div>
      <div id="team">{{teams[41]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[42]}}</div>
      <div id="team">{{teams[43]}}</div>
    </div>

    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[44]}}</div>
      <div id="team">{{teams[45]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[46]}}</div>
      <div id="team">{{teams[47]}}</div>
    </div>
  </div>

  <div id=rd2>
    <div id="matchup">
      <div id ="team">{{teams[16]}}</div>
      <div id="team">{{teams[17]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[18]}}</div>
      <div id="team">{{teams[19]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[20]}}</div>
      <div id="team">{{teams[21]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[22]}}</div>
      <div id="team">{{teams[23]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[24]}}</div>
      <div id="team">{{teams[25]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[26]}}</div>
      <div id="team">{{teams[27]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[28]}}</div>
      <div id="team">{{teams[29]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[30]}}</div>
      <div id="team">{{teams[31]}}</div>
    </div>
  </div>

  <div id="rd1">

  <!-- SOUTH --> 
    <div id="matchup">
      <div id ="team">Virginia</div>
      <div id="team">Gardner</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Ole Miss</div>
      <div id="team">Oklahoma</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Wisconsin</div>
      <div id="team">Oregon</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Kansas St</div>
      <div id="team">UC Irvine</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Villanova</div>
      <div id="team">Saint Mary's</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Purdue</div>
      <div id="team">Old Dominion</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Cincinnati</div>
      <div id="team">Iowa</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Tennessee</div>
      <div id="team">Colgate</div>
    </div>
    <!--MIDWEST -->
    <br>
    <div id="matchup">
      <div id ="team">N. Carolina</div>
      <div id="team">Iona</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Utah St</div>
      <div id="team">Washington</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Auburn</div>
      <div id="team">NM St</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Kansas</div>
      <div id="team">Northeastern</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Iowa St</div>
      <div id="team">Ohio St</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Houston</div>
      <div id="team"> Georgia St</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team"> Wofford</div>
      <div id="team"> Seton Hall</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">Kentucky</div>
      <div id="team">Abilene</div>
    </div>
  </div>
{% endblock content %}  