{% extends "layout.html" %}
{% block content %}

  <h2 class="text-center">GENERATE BRACKET</h2>


  <div id="rd1">
    <!-- EAST -->
    <div id="matchup">
      <div id ="team">{{teams[0]}}</div>
      <div id="team">{{teams[1]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[2]}}</div>
      <div id="team">{{teams[3]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[4]}}</div>
      <div id="team">{{teams[5]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[6]}}</div>
      <div id="team">{{teams[7]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[8]}}</div>
      <div id="team">{{teams[9]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[10]}}</div>
      <div id="team">{{teams[11]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team"></div>{{teams[12]}}
      <div id="team">{{teams[13]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[14]}}</div>
      <div id="team">{{teams[15]}}</div>
    </div>
    <!-- WEST -->
    <br>
    <div id="matchup">
      <div id ="team">{{teams[16]}}</div>
      <div id="team"> {{teams[17]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[18]}}</div>
      <div id="team">{{teams[19]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[20]}}</div>
      <div id="team">{{teams[21]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[22]}}</div>
      <div id="team">{{teams[23]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[24]}}</div>
      <div id="team">{{teams[25]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[26]}}</div>
      <div id="team">{{teams[27]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[28]}}</div>
      <div id="team">{{teams[29]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[30]}}</div>
      <div id="team">{{teams[31]}}</div>
    </div>
  </div>

  <div id=rd2>
    <div id="matchup">
      <div id ="team">{{teams[64]}}</div>
      <div id="team">{{teams[65]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[66]}}</div>
      <div id="team">{{teams[67]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[68]}}</div>
      <div id="team">{{teams[69]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[70]}}</div>
      <div id="team">{{teams[71]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[72]}}</div>
      <div id="team">{{teams[73]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[74]}}</div>
      <div id="team">{{teams[75]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[76]}}</div>
      <div id="team">{{teams[77]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[78]}}</div>
      <div id="team">{{teams[79]}}</div>
    </div>
  </div>

  <div id=rd3>
    <div id="matchup">
      <div id ="team">{{teams[96]}}</div>
      <div id="team">{{teams[97]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[98]}}</div>
      <div id="team">{{teams[99]}}</div>
    </div>

    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[100]}}</div>
      <div id="team">{{teams[101]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[102]}}</div>
      <div id="team">{{teams[103]}}</div>
    </div>
  </div>

  <div id=rd4>
    <div id="matchup">
      <div id ="team">{{teams[112]}}</div>
      <div id="team">{{teams[113]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[114]}}</div>
      <div id="team">{{teams[115]}}</div>
    </div>
  </div>

  <div id=finalFour>
    <div id="matchup">
      <div id ="team">{{teams[120]}}</div>
      <div id="team">{{teams[121]}}</div>
    </div>
  </div>

  <div id=champion>
    <h3> FINAL FOUR</h3>
    <div id=cMatchup>
      <div id ="team">{{teams[124]}}</div>
      <div id="team">{{teams[125]}}</div>
    </div>
    <br>
    <h3 class="text-center"> CHAMPION </h3>
      <div id="team">{{teams[126]}} </div>
  </div>

  <div id=finalFour>
    <div id="matchup">
      <div id ="team">{{teams[122]}}</div>
      <div id="team">{{teams[123]}}</div>
    </div>
  </div>

  <div id=rd4>
    <div id="matchup">
      <div id ="team">{{teams[116]}}</div>
      <div id="team">{{teams[117]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>

    <div id="matchup">
      <div id ="team">{{teams[118]}}</div>
      <div id="team">{{teams[119]}}</div>
    </div>
  </div>

  <div id=rd3>
    <div id="matchup">
      <div id ="team">{{teams[104]}}</div>
      <div id="team">{{teams[105]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[106]}}</div>
      <div id="team">{{teams[107]}}</div>
    </div>

    <!--bottom-->
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[108]}}</div>
      <div id="team">{{teams[109]}}</div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[110]}}</div>
      <div id="team">{{teams[111]}}</div>
    </div>
  </div>

  <div id=rd2>
    <div id="matchup">
      <div id ="team">{{teams[80]}}</div>
      <div id="team">{{teams[81]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[82]}}</div>
      <div id="team">{{teams[83]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[84]}}</div>
      <div id="team">{{teams[85]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[86]}}</div>
      <div id="team">{{teams[87]}}</div>
    </div>
    <!--bottom-->
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[88]}}</div>
      <div id="team">{{teams[89]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[90]}}</div>
      <div id="team">{{teams[91]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[92]}}</div>
      <div id="team">{{teams[93]}}</div>
    </div>
    <br><br><br><br><br>
    <div id="matchup">
      <div id ="team">{{teams[94]}}</div>
      <div id="team">{{teams[95]}}</div>
    </div>
  </div>

  <div id="rd1">

  <!-- SOUTH --> 
    <div id="matchup">
      <div id ="team">{{teams[32]}}</div>
      <div id="team">{{teams[33]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[34]}}</div>
      <div id="team">{{teams[35]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[36]}}</div>
      <div id="team">{{teams[37]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[38]}}</div>
      <div id="team">{{teams[39]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[40]}}</div>
      <div id="team">{{teams[41]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[42]}}</div>
      <div id="team">{{teams[43]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[44]}}</div>
      <div id="team">{{teams[45]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[46]}}</div>
      <div id="team">{{teams[47]}}</div>
    </div>
    <!--MIDWEST -->
    <br>
    <div id="matchup">
      <div id ="team">{{teams[48]}}</div>
      <div id="team">{{teams[49]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[50]}}</div>
      <div id="team">{{teams[51]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[52]}}</div>
      <div id="team">{{teams[53]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[54]}}</div>
      <div id="team">{{teams[55]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[56]}}</div>
      <div id="team">{{teams[57]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[58]}}</div>
      <div id="team">{{teams[59]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[60]}}</div>
      <div id="team">{{teams[61]}}</div>
    </div>
    <br>
    <div id="matchup">
      <div id ="team">{{teams[62]}}</div>
      <div id="team">{{teams[63]}}</div>
    </div>
  </div>
{% endblock content %}  