{% extends "layout.html" %}
{% block content %}
	  <h2 class="text-center">GENERATE BRACKET</h2>

  <div id="rd1">
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <!--bottom-->
    <hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=rd2>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <!--bottom-->
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=rd3>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>

    <!--bottom-->
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=rd4>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <!--bottom-->
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=finalFour>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=champion>
    <h3> FINAL FOUR</h3>
    <div id=cMatchup>
      <p>team 1</p>
      <p>team 2</p>
      </div>
  </div>

  <div id=finalFour>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=rd4>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <!--bottom-->
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=rd3>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>

    <!--bottom-->
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id=rd2>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <!--bottom-->
    <hr><hr><hr><hr><hr><hr><hr>
    <hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr><hr><hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>

  <div id="rd1">
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <!--bottom-->
    <hr><hr><hr><hr><hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
    <hr>
    <div id="matchup">
      <p>team 1</p>
      <p>team 2</p>
    </div>
  </div>
{% endblock content %}