{% extends "layout.html" %}
{% block content %}
  <h5 class="text-center">STATS</h5>

  <!--Entering Team-->
    <div id="teamView">
      <div class="container">
        <div class="row">

          <div class="col text-center">

            <div id="team1">
              <h6>Enter a Team Name or Season Year: </h6> <input id="statInput">
              <button id="statQuery">Get Stats</button>
              <div class="row">
                <div class="col-md-6">
                  <p id="statTeamTitle"></p>
                  <table class="table table-sm table-bordered" id="team-stat-table">
                  </table>
                </div>
                <div class="col-md-6">
                  <p id="statCoachTitle"></p>
                  <table class="table table-bordered" id="coach-stat-table">
                  </table>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock content %}
