{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
    <h5 class="text-center">TEAM STATS</h5>
    <!--Entering Teams-->
    <div id="teamView">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div id="team1">
              <label for="tags"><b>ENTER TEAM 1:</b> </label>
              <input id="tags">
              <button id="send">Send</button>
              <div class="teamInfo">
                <p id="teamName"></p>
                <p id="year"></p>
                <p id="coach"></p>
                <p id="numGames"></p>
                <p id="numWins"></p>
                <p id="numLosses"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/teamNames.js" charset="utf-8"></script>
    </body>
  </html>
  {% endblock content %}
